body {
  font-family: sans-serif;
}

header {
  background-color: #f8f8f8;
  border-bottom: 1px solid #f8f8f8;
  position: fixed;
  width: 100%;
  z-index: 10;
}

h1, h2 {
  font-weight: 400;
  color: steelblue;
}

.title{
  display: flex;
  justify-content: space-between;
}
.title > p{
  width: 49%;
}



#studios > div {
  margin: 1em 0;
  padding: 0.5em;
  background: #f8f8f8;
  min-height: 3em;
}
.studio-title {
  font-weight: bold;
}
.studio-title-en {
  margin-left: 1em;
  font-weight: 100;
  opacity: 0.75;
}