body {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  color: rgb(255, 255, 255);
}


header {
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 10;
}
ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}
li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 100px;  
}
li:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}


h1{
  font-weight: 400;
  color: rgb(255, 255, 255);
}
h2 {
  font-weight: 400;
  color: rgb(255, 255, 255);
}

h3{
  font-weight: 400;
  color: rgb(255, 255, 255);
}
h4{
  font-weight: 400;
  color: rgb(255, 255, 255);
}



.title{
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 5%;
  padding-left: 3%;
  background-color: rgb(0, 0, 0);
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.title_item1 {
  align-self: auto;
  flex-basis: 500px;
}
.title_item2 {
  align-self: auto;
}
img.ia_image {
  width: 700px;
	height: 700px;
}



.contents{
  padding-top: 1%;
  padding-bottom: 1%;
  padding-right: 5%;
  padding-left: 5%;
  background-color: rgb(0, 0, 0);
  height: 500px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.contents_item1 {
  background-color: rgb(0, 0, 0);
  align-self: auto;
  flex-basis: 30%;
  padding-right: 1%;
  padding-left: 1%;
}

.contents_item2 {
  background-color: rgb(0, 0, 0);
  align-self: auto;
  flex-basis: 30%;
  padding-right: 1%;
  padding-left: 1%;
}

.contents_item3 {
  background-color: rgb(0, 0, 0);
  align-self: auto;
  flex-basis: 30%;
  font-size: 0.9em;
  padding-right: 1%;
  padding-left: 1%;
}

img.studio-image {
  width: 500px;
	height: 300px;
}


footer{
  text-align: center;
  font-size: 0.5em;
}
