body {
  font-family: sans-serif;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  color: rgb(255, 255, 255);
}


header {
  background-color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(0, 0, 0);
  position: fixed;
  width: 100%;
  z-index: 10;
}

ul {
  margin: 30px auto;
  padding: 0 20px;
  text-align: center;
}

li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 100px;  
}

li:hover {
  color: #DBE9EE;
}


h1, h2 {
  font-weight: 400;
  color: rgb(255, 255, 255);
}

.title{
  padding: 5%;
  background-color: rgb(211, 214, 12);
  height: 400px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}
.title_item1 {
  align-self: auto;
  flex-basis: 600px;
}
.title_item2 {
  align-self: auto;
}


.contents{
  padding: 5%;
  background-color: rgb(255, 0, 0);
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.contents_item1 {
  background-color: rgb(255, 230, 0);
  align-self: auto;
  flex-basis: 400px;
  font-size: 1.5em;
}

.contents_item2 {
  background-color: rgb(0, 255, 55);
  align-self: auto;
  font-size: 0.5em;
}

.contents_item3 {
  background-color: rgb(4, 0, 255);
  align-self: auto;
  font-size: 0.3em;
}
